

<nav aria-label="breadcrumb">
  <ol class="breadcrumb shadow-sm">
    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
    <li class="breadcrumb-item"><a href="#">Afiliacion</a></li>
    <li class="breadcrumb-item"><a href="#">Cuentas asociadas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>


<!-- <div class="breadcrumb m-0 shadow bg-white">
  <a href="#" class="breadcrumb-step breadcrumb-step-active">Inicio</a>
  <a href="#" class="breadcrumb-step">Afiliacion</a>
  <a href="#" class="breadcrumb-step">Reportes</a>
  <a href="#" class="breadcrumb-step">Parametrizacion</a>
</div> -->

<!-- <a class="breadcrumb__step breadcrumb__step--active" href="#">ECMAScript</a>
        <a class="breadcrumb__step" href="#">HTML5</a> -->
