<div class="card">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <small class="font-weight-bold text-muted">Empresas afiliadas</small>
    <div class="row">
      <div class="col-sm-6">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <i class="fab fa-searchengin"></i>
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Buscar" (keyup)="onFilterTable($event.target.value)">
        </div>
      </div>
      <div class="col-sm-6">
        <button mat-raised-button color="warn" (click)="ngCreateBusiness()">
          <i class="far fa-building fa-lg"></i>
          Crear empresa
        </button>
      </div>
    </div>
  </div>
</div>

<div class="mat-elevation-z3">
  <table mat-table [dataSource]="dataContext" matSort>
    <ng-container matColumnDef="codigoEmpresa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold">Codigo Empresa</th>
      <td mat-cell *matCellDef="let element"> {{element.codigoEmpresa}} </td>
    </ng-container>
    <ng-container matColumnDef="razonSocial">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold">Razon Social</th>
      <td mat-cell *matCellDef="let element"> {{element.razonSocial}} </td>
    </ng-container>
    <ng-container matColumnDef="ruc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold">Ruc</th>
      <td mat-cell *matCellDef="let element"> {{element.ruc}} </td>
    </ng-container>
    <ng-container matColumnDef="giroNegocio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold">Categoria</th>
      <td mat-cell *matCellDef="let element"> {{element.giroNegocio}} </td>
    </ng-container>
    <ng-container matColumnDef="swActividad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-weight-bold">Estado</th>
      <td mat-cell *matCellDef="let element"> {{element.swActividad}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="font-weight-bold">Accion</th>
      <td mat-cell *matCellDef="let element">
        <div class="row">
          <button mat-icon-button color="link" (click)="onDialogModify(element)"  aria-label="Example icon-button with a heart icon">
            <i class="far fa-edit"></i>
          </button>
          <button mat-icon-button color="warn" (click)="onDialogDelete(element.codigoEmpresa)"  aria-label="Example icon-button with a heart icon">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
