<div class="row py-3">
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card color-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Afiliación
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              Afiliacion de nuevas empresas
            </div>
          </div>
          <div class="col-auto">
            <i class="far fa-building fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card color-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Reportes
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              Reportes
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-chart-pie fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card color-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Parametrización
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              Parametrización de nuevas empresas
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-user-cog fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card color-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Conciliación
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              Conciliación cobre de servicio
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-handshake fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
